# Section 5: Intro to Pandas

In [1]:
import pandas as pd
import numpy as np

## Pandas Series

Analysis of the Group 7 -> political group
- ordered sequence of elements, indexed
- looks a lot like list, but there are a ton of differences
    - have associated data type (float64)
    - underlying numpy array
- more similar to numpy array
    - can select elements as would in array
- can define index with strings
    - so actually looks more like a dictionary, but it is ordered

In [3]:
#this is a series in millions, storing population of the 7 countries
g7_pop = pd.Series([35.467, 63.951, 80.940, 60.665, 127.061, 64.511, 318.523])
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
dtype: float64

In [4]:
#can give it a name
g7_pop.name = 'G7 Population in millions'
g7_pop

0     35.467
1     63.951
2     80.940
3     60.665
4    127.061
5     64.511
6    318.523
Name: G7 Population in millions, dtype: float64

In [6]:
#float64
g7_pop.dtype

dtype('float64')

In [7]:
#gives you array of values, is a numpy array
g7_pop.values

array([ 35.467,  63.951,  80.94 ,  60.665, 127.061,  64.511, 318.523])

In [8]:
#selecting individual element
g7_pop[0]

35.467

In [9]:
#finding out index structure
g7_pop.index

RangeIndex(start=0, stop=7, step=1)

In [10]:
#restating index names
g7_pop.index = [
    'Canada',
    'France',
    'Germany',
    'Italy',
    'Japan',
    'United Kingdom',
    'United States',
]
g7_pop

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [11]:
#can do all of this at once
pd.Series({
    'Canada': 35.467,
    'France': 63.951,
    'Germany': 80.94,
    'Italy': 60.665,
    'Japan': 127.061,
    'United Kingdom': 64.511,
    'United States': 318.523
}, name='G7 Population in millions')

Canada             35.467
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [12]:
#create series out of other series
pd.Series(g7_pop, index=['France', 'Germany', 'Italy', 'Spain'])

France     63.951
Germany    80.940
Italy      60.665
Spain         NaN
Name: G7 Population in millions, dtype: float64

### Indexing and Slicing

In [13]:
#same syntax as python dictionary to acess specific value
g7_pop['Canada']

35.467

In [14]:
#multiple elements at once
g7_pop[['Italy', 'France']]

Italy     60.665
France    63.951
Name: G7 Population in millions, dtype: float64

In [15]:
#can still look according to number, like the first element
g7_pop.iloc[0]

35.467

In [16]:
#or last element, can also have multiple indexes with numbers
g7_pop.iloc[-1]

318.523

In [18]:
#pandas slicing includes upper limit
g7_pop['Canada': 'Italy']

Canada     35.467
France     63.951
Germany    80.940
Italy      60.665
Name: G7 Population in millions, dtype: float64

### Conditional selection (boolean series)

In [23]:
#returns a boolean serie
g7_pop > 70

Canada            False
France            False
Germany            True
Italy             False
Japan              True
United Kingdom    False
United States      True
Name: G7 Population in millions, dtype: bool

In [20]:
#restricting the series with boolean operators
g7_pop[g7_pop > 70]

Germany           80.940
Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [22]:
#to get answer in terms of people and not millions of people
g7_pop * 1000000

Canada             35467000.0
France             63951000.0
Germany            80940000.0
Italy              60665000.0
Japan             127061000.0
United Kingdom     64511000.0
United States     318523000.0
Name: G7 Population in millions, dtype: float64

In [24]:
g7_pop.mean()

107.30257142857144

In [25]:
g7_pop[g7_pop > g7_pop.mean()]

Japan            127.061
United States    318.523
Name: G7 Population in millions, dtype: float64

In [26]:
g7_pop.std()

97.24996987121581

~ not, | or, & and.

In [27]:
g7_pop[(g7_pop > g7_pop.mean() - g7_pop.std() / 2) | (g7_pop > g7_pop.mean() + g7_pop.std() / 2)]

France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

### Operations and methods

In [29]:
#other than mean, std, etc, can also use regular numpy math functions
np.log(g7_pop)

Canada            3.568603
France            4.158117
Germany           4.393708
Italy             4.105367
Japan             4.844667
United Kingdom    4.166836
United States     5.763695
Name: G7 Population in millions, dtype: float64

### Modifying series

In [30]:
g7_pop['Canada'] = 40.5

In [31]:
g7_pop

Canada             40.500
France             63.951
Germany            80.940
Italy              60.665
Japan             127.061
United Kingdom     64.511
United States     318.523
Name: G7 Population in millions, dtype: float64

In [32]:
#modify based on boolean selections
g7_pop[g7_pop < 70] = 99.99

In [33]:
g7_pop

Canada             99.990
France             99.990
Germany            80.940
Italy              99.990
Japan             127.061
United Kingdom     99.990
United States     318.523
Name: G7 Population in millions, dtype: float64

### Exercises

#### create empty pandas Series

In [35]:
pd.Series()

/Users/rebeccaceppas/opt/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

#### given X python list, convert it to an Y pandas series

In [37]:
X = ['a','b','c']
Y = pd.Series(X)
print(Y, type(Y))

0    a
1    b
2    c
dtype: object <class 'pandas.core.series.Series'>

#### Given Y pandas series, name it 'My letters'

In [38]:
Y.name = 'My letters'
Y

0    a
1    b
2    c
Name: My letters, dtype: object

#### Show its values

In [39]:
Y.values

array(['a', 'b', 'c'], dtype=object)

#### assign it index names

In [41]:
Y.index = ['first letter','second letter','third letter']

In [42]:
Y

first letter     a
second letter    b
third letter     c
Name: My letters, dtype: object

#### show first element

In [44]:
Y.iloc[0]

'a'

#### show last element

In [45]:
Y.iloc[-1]

'c'

#### show all middle elements

In [51]:
Y.iloc[1:-1]

second letter    b
Name: My letters, dtype: object

#### show elements in reverse position

In [53]:
Y.iloc[::-1]

third letter     c
second letter    b
first letter     a
Name: My letters, dtype: object

#### show first and last elements only

In [54]:
Y.iloc[[0,-1]]

first letter    a
third letter    c
Name: My letters, dtype: object

#### convert integer pandas series to float

In [55]:
X = pd.Series([1,2,3,4,5], index=['first','second','third','forth','fifth'])
pd.Series(X, dtype=np.float)

first     1.0
second    2.0
third     3.0
forth     4.0
fifth     5.0
dtype: float64

#### reverse this pandas series

In [56]:
X.iloc[::-1]

fifth     5
forth     4
third     3
second    2
first     1
dtype: int64

#### order (sort) the series

In [60]:
X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

#### set fifth element = 10

In [62]:
X['fifth'] = 10
X

first      1
second     2
third      3
forth      4
fifth     10
dtype: int64

#### change all middle elements to 0

In [64]:
X[1:-1]=0
X

first      1
second     0
third      0
forth      0
fifth     10
dtype: int64

#### add 5 to every element

In [65]:
X+5

first      6
second     5
third      5
forth      5
fifth     15
dtype: int64

#### make a mask showing negative elements

In [66]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

In [67]:
negative = X<0
negative

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool

#### get the negative elements

In [68]:
X[negative]

0   -1
3   -4
8   -9
dtype: int64

#### get numbers higher than 5

In [69]:
X[X>5]

5     6
9    10
dtype: int64

#### get elements higher than the elements mean

In [70]:
X[X>X.mean()]

1     2
4     5
5     6
9    10
dtype: int64

#### get numbers equal to 10 or 2

In [73]:
X[(X==10)|(X==2)]

1     2
9    10
dtype: int64

#### return True if none of its elements is zero

In [75]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.all()

False

#### return True if any of its elements is zero

In [76]:
X.any()

True

#### show the sum of its elements

In [77]:
X = pd.Series([3,4,6,7,2,3,4,9,4])
X.sum()

42

#### show mean value of its elements

In [78]:
X.mean()

4.666666666666667